@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root{
    --primary-color: #3DA7C9;
}

body{
    margin: 0;
    font-family: 'Manrope' , sans-serif;
    text-decoration: none;
    background-color: #f2f2f2;
}

.title-logo{
    margin: 0 5px;;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo img{
    padding-top: 1px;
    height: 36px;
    width: 38px;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: white;
    text-decoration: none;
    padding: 10px;
}

header span{
    color: var(--primary-color);
}


nav i{
    display: block;
}

.hero {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 25px;
}

p{
    font-size: 85%;
}

h4{
    font-weight: 800;
    margin: 4px 0;
}

div.container{
    padding-bottom: 5px;
}

.container{
    text-align: center;
}

.edit-perfil{
    background-color: #D8D4D4;
    border-radius: 3px;
    
}

.Outfits{
    color: #3F3F3F;
    text-decoration-line: underline;
    margin-top: 4;
    
}

.pie{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.pie img{
    padding-bottom: 20px;  
}

.conf{
    list-style: none;

}

/* Animacion */

nav {
    position: fixed;
    z-index: 10;
    width: 0;
    right: 0;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    padding: 1em;
    transition: width 0.3s ease-in-out;
    }

li {
    text-align: right;
    padding: .3em;
}


.barra-options {
    position: fixed;
    z-index: 10;
    width: 200px;
    right: -250px;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    overflow-x: hidden;
    padding: 1em;
    transition: right 0.3s ease-in-out;
    margin-left: 15px;    
}


.barra-options.open {
    right: 0px;
}

#barra-close {
    cursor: pointer;
}


.barra{
    padding-right: 15px;
}