/* Agrega esto al final de tu archivo CSS */

/* Estilo inicial de la barra de opciones */
.barra-options {
    position: fixed;
    z-index: 10;
    width: 0;
    right: 0;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    overflow-x: hidden;
    padding: 1em;
    transition: width 0.3s ease-in-out;
    display: none;
    opacity: 0; /* Añade esta línea para ocultar completamente el contenido */
    pointer-events: none; /* Añade esta línea para deshabilitar interacciones */
}

/* Estilo cuando la barra de opciones está abierta */
.barra-options.open {
    width: 66%;
    display: block;
    opacity: 1; /* Añade esta línea para mostrar completamente el contenido */
    pointer-events: auto; /* Añade esta línea para habilitar interacciones */
}

/* Resto de tu CSS */
