@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root{
    --primary-color: #3DA7C9;
}

body{
    margin: 0;
    font-family: 'Manrope' , sans-serif;
    text-decoration: none;
    background-color: #f2f2f2;
}



a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: white;
    text-decoration: none;
    padding: 10px;
}

header span{
    color: var(--primary-color);
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img{
    padding-top: 1px;
    height: 36px;
    width: 38px;
}

nav a{
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    margin-left: 8px;
}

.sign-in{
background-color: #D9D9D9;
}

.sign-up{
background-color: #3DA7C9;
}

/* Estilos para centrar la sección hero */
.hero {
    display: flex; /* Utiliza flexbox para centrar verticalmente el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    background-color: #f0f0f0; /* Solo para visualización, puedes cambiar el color de fondo */
  }
  
  /* Estilos para centrar y alinear el contenido dentro del contenedor */
  .container {
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .container h1 {
    font-size: 2rem; /* Ajusta el tamaño del título según tus preferencias */
    margin-bottom: 10px; /* Añade un pequeño espacio inferior entre el título y el subtítulo */
  }
  
  .container h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del subtítulo según tus preferencias */
    margin-bottom: 20px; /* Añade un espacio inferior entre el subtítulo y la imagen */
  }
  
  .container img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Permite que la altura de la imagen se ajuste proporcionalmente */
  }
  
  .container a.sign-up {
    display: inline-block; /* Convierte el enlace en un bloque en línea para ajustar el ancho */
    padding: 10px 20px; /* Añade un relleno al enlace para hacerlo más grande */
    background-color: #007bff; /* Color de fondo del enlace (puedes cambiarlo) */
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Agrega esquinas redondeadas al enlace */
  }
  