/* Estilo para botones habilitados */
.btn-field button {
    flex-basis: 48%;
    background: #3DA7C9;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

/* Estilo para botones habilitados cuando se les coloca el cursor encima */
.btn-field button:hover {
    background: #3094B2; /* Cambia el color de fondo al hacer hover */
}

/* Estilo para botones deshabilitados */
.btn-field button.disable {
    background-color: #eaeaea;
    color: #555;
    cursor: not-allowed;
}

/* Estilo para botones deshabilitados cuando se les coloca el cursor encima */
.btn-field button.disable:hover {
    background-color: #eaeaea;
    color: #555;
}
