body{
font-family: 'Poppins' , sans-serif;
margin: 0;
background-color: beige;
}


header{
    display: flex; /* Esto sirve para alinear todo Horizontalmente*/
    background-color: black;
    width: 100%;
    height: 10vh;
    background-position: center;
    background-size: cover;
    justify-content: space-between; /* Sirve para ordenar el contenido. Ej:space-betwwen es para separar uno a la izquierda y otro a la derecha */
    align-items:center; /*Alínea el contenido (creo que verticalmente )*/
    padding: 10px; /* Separa el contenido para que no este tan pegado (Horizontalmente?) */
}

.logo{
    display: flex;
    align-items: center;
    color: white;
}

a{
    text-decoration: none;
}

.Nombre-empresa:hover{
    color: grey;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.nav-link{
    margin: 10px 20px;
}

nav a{
    color: #fff;
    font-weight: 600; /* Letra negrita */
    padding: 10px;
    text-decoration: none;
    position: relative;
    font-size: 18px ;
}   

nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
}

.container{
    background-image: url(Imagenes/istockphoto-1063676198-612x612.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}



