@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');


body{
    margin: 0;
    font-family: 'Manrope' , sans-serif;
    text-decoration: none;
    background-color: #f2f2f2;  
}

header{
    padding: 1px 10px;
    display: flex;
    align-items: center;
}

header h3{
    padding: 0 3px ;
    margin: 20px 0;
}

i{
    font-size: 1.5em;
    padding: 0 10px;
    color: black;
}

main{
    margin-top: 10px;
    padding-left: 20px;
}

.perfil{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

main h3{
    color: black;
    padding-left: 12px;
    font-size: 1.1em;
}

footer{
    margin-left: 12px;
    padding-top: 250px;
}

a{
    font-size: .9em;
    text-decoration: none;
    color: #3DA7C9;
}