@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root{
    --primary-color: #3DA7C9;
}

body{
    margin: 0;
    font-family: 'Manrope' , sans-serif;
    text-decoration: none;
    background-color: #f2f2f2;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo img{
    padding-top: 1px;
    height: 36px;
    width: 38px;
}

a{
    text-decoration: none;
    color: rgb(71, 61, 61);
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid rgb(71, 61, 61) ;
}

header span{
    color: var(--primary-color);
}

div a{
    margin: 5px;
}

nav i{
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    padding-top: 15px;
}

.filters-container {
    padding: 15px;
    justify-content: space-around;
}


.filters-container a {
    text-decoration: none;
    color: #575656;
    background-color: #D9D9D9;
    font-weight: bold; 
    border-radius: 4px;
    font-size: 13px;
    padding: 5px;
    
}



.filters-container i {
    margin-left: 5px;
}


.btn-guardar {
    display: block;
    margin: 0 auto; 
    margin-top: 35px; 
    border-radius: 6px;
    background: #3DA7C9;
    color: #F3F3F3;
    border: none;
    padding: 5px;
    width: 85px;
}


/* Animacion de las columnas */

.filter-column {
    display: none;
    position: fixed;
    top: 0px; 
    background-color: #FFF;
    border: 1px solid #CCC;
    z-index: 100;
}

.filter-column ul {
    list-style-type: none;
    padding: 0;
}


#prendas-column{
    left: 0px;
    width: 160px;
    height: 100vh;
}

#etiquetas-column{
    right: 0px;
    width: 160px;
    height: 100vh;
}

li{
    display: flex;
    justify-content: center;
}


.prendas-column-background{
    position: fixed;
    height: 100vh;
    top: 0px;
    right: 0px;
    width: 160px;
}

.etiquetas-column-background{
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 160px;
}

/* Animacion */

nav {
    position: fixed;
    z-index: 10;
    width: 0;
    right: 0;
    top: 0;
    background: #FDFAFA;
    height: 1000vh;
    padding: 1em;
    transition: width 0.3s ease-in-out;
    }

li {
    text-align: right;
    padding: .3em;
    list-style: none;
}


.barra-options {
    position: fixed;
    z-index: 10;
    width: 200px;
    right: -250px;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    overflow-x: hidden;
    padding: 1em;
    transition: right 0.3s ease-in-out;
    margin-left: 15px;    
}


.barra-options.open {
    right: 0px;
}

#barra-close {
    cursor: pointer;
}


.barra{
    padding-right: 15px;
}

img{
    width: 100%;
    height: auto;
}
