@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root {
    --primary-color: #3DA7C9;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    background-color: #f2f2f2;
}

.title-logo {
    margin: 0 5px;
    ;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    padding-top: 1px;
    height: 36px;
    width: 38px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: white;
    text-decoration: none;
    padding: 10px;
}

header span {
    color: var(--primary-color);
}


nav i {
    display: block;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

p {
    font-size: 85%;
}

h4 {
    font-weight: 800;
    margin: 4px 0;
}

div.container {
    padding-bottom: 5px;
}

.container {
    text-align: center;
}

.edit-perfil {
    background-color: #D8D4D4;
    border-radius: 3px;

}

.Outfits {
    color: #3F3F3F;
    text-decoration-line: underline;
    margin-top: 4;

}

.pie {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.item {
    position: relative;
    margin-bottom: 20px;
}


.item p {
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 0 0;
    
}


.pie img {
    padding-bottom: 20px;
    position: relative;
}

.pie p {
    position: absolute;
    bottom: 20px;
    right: 1px;
}

.conf {
    list-style: none;

}

/* Animacion */

nav {
    position: fixed;
    z-index: 10;
    width: 0;
    right: 0;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    padding: 1em;
    transition: width 0.3s ease-in-out;
}

li {
    text-align: right;
    padding: .3em;
}


.barra-options {
    position: fixed;
    z-index: 10;
    width: 200px;
    right: -250px;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    padding: 1em;
    transition: right 0.3s ease-in-out;
    margin-left: 15px;
}


.barra-options.open {
    right: 0px;
}


.barra {
    padding-right: 15px;
}

/* Animacion drawer */

.barrita-drawer{
    width: 15%;
    text-align: center;
    margin-left: 45%;
    border-radius: 27px;
    font-size: .2em;
    margin-top: 10px;
    color: #ADACAC;
    background-color: #ADACAC;
}

.drawer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.punto-open {
    margin-bottom: 15px; /* nose porque pero no funciona */
  }
  

.drawer {    
    border: 1px;
    background: #E3E3E3;    
    width: 100vw;
    position: fixed;
    height: 0vh;
    bottom: 0;
    left: 0;
    transition: height 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;

}

.drawer.open {
    height: 35vh;
}

.drawer-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: rgb(0, 0, 0, 0.01); 
    z-index: 9; 
    display: none;
  }
  