@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root{
    --primary-color: #3DA7C9;
}

body{
    margin: 0;
    font-family: 'Manrope' , sans-serif;
    text-decoration: none;
    background-color: #e6e6e6;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo img{
    padding-top: 1px;
    height: 36px;
    width: 38px;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: white;
    text-decoration: none;
    padding: 10px;
}

header span{
    color: var(--primary-color);
}

div a{
    margin: 5px;
}

/* Animacion */

nav {
    position: fixed;
    z-index: 10;
    width: 0;
    right: 0;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    padding: 1em;
    transition: width 0.3s ease-in-out;
    }

li {
    text-align: right;
    padding: .3em;
    list-style: none;
}


.barra-options {
    position: fixed;
    z-index: 10;
    width: 200px;
    right: -250px;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    overflow-x: hidden;
    padding: 1em;
    transition: right 0.3s ease-in-out;
    margin-left: 15px;    
}


.barra-options.open {
    right: 0px;
}

#barra-close {
    cursor: pointer;
}


main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

main h1{
    font-size: 1.5em;
    padding-top: 15px;
}

main button{
    align-self: center;
    margin-top: 70px;
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 550;
    border: white;
    width: 266px;
    height: 54px;
    border-radius: 13px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

main button:active{
    background-color: #BFBFBF;
    transform: scale(0.95);
}

/* Animaion drawer */	

.barrita-drawer{
    width: 15%;
    text-align: center;
    margin-left: 45%;
    border-radius: 27px;
    font-size: .2em;
    margin-top: 10px;
    color: #ADACAC;
    background-color: #ADACAC;
}

.drawer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.drawer button{
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.punto-open {
    margin-bottom: 15px; /* nose porque pero no funciona */
  }
  

.drawer {    
    border: 1px;
    background: #E3E3E3;    
    width: 100vw;
    position: fixed;
    height: 0vh;
    bottom: 0;
    left: 0;
    transition: height 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.drawer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 10px 0 0;
}

p{
    margin: 0px;
}

.texto-liso{
    margin: 10px;
    text-decoration-line: underline;
    color: #3F3F3F;
    font-size: .9em;
}

.drawer.open {
    height: 40vh;
}

.drawer-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: rgb(0, 0, 0, 0.01); 
    z-index: 9; 
    display: none;
  }