@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root{
    --primary-color: #3DA7C9;
}

body{
    margin: 0;
    font-family: 'Manrope' , sans-serif;
    text-decoration: none;
    background-color: #f2f2f2;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo img{
    padding-top: 1px;
    height: 36px;
    width: 38px;
}

a{
    text-decoration: none;
    color: rgb(71, 61, 61);
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    text-decoration: none;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.288);

}

header span{
    color: var(--primary-color);
}

div a{
    margin: 5px;
}

nav i{
    display: block;
}




main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
}

input[type="file"] {
    opacity: 0;
}

input[type="file"] :hover{
    background-color: #3DA7C9;
}

.prenda-container img{
    width: 85px;
    height: 100px;
}



input[type="text"] {
    border-radius: 13px;
    border: 2px solid #a5a5a5;
    background: #D2D2D2;
    width: 160px;
    height: 18px;
}

input[type="text"]::placeholder{
    color: black;
    position: relative;
    left: 15px;
    font-weight: 700;
}

select{
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    background-color: #D9D9D9;
    font-size: 14px;
    font-weight: 700;
    color: #575656;
}

#tipo{
    margin-right: 12px;
    text-align: center;
}

#Etiqueta{
    margin-left: 12px;
    text-align: center;
}

option{
    font-size: 14px;
    font-weight: 700;
    color: #575656;
    text-align: center;

}

input[type="submit"] {
    margin-top: 20px;
    border-radius: 6px;
    background: #3DA7C9;
    border: none;
    cursor: pointer;
    color: white;
    width: 124px;
    height: 28px;
}


/* Animacion */

nav {
    position: fixed;
    z-index: 10;
    width: 0;
    right: 0;
    top: 0;
    background: #FDFAFA;
    height: 1000vh;
    padding: 1em;
    transition: width 0.3s ease-in-out;
    }

li {
    text-align: right;
    padding: .3em;
    list-style: none;
}


.barra-options {
    position: fixed;
    z-index: 10;
    width: 200px;
    right: -250px;
    top: 0;
    background: #FDFAFA;
    height: 100vh;
    overflow-x: hidden;
    padding: 1em;
    transition: right 0.3s ease-in-out;
    margin-left: 15px;    
}


.barra-options.open {
    right: 0px;
}

#barra-close {
    cursor: pointer;
}


.barra{
    padding-right: 15px;
}

img{
    width: 100%;
    height: auto;
}

img #imagensubida{
    width: 100px;
    height: 100px;
}